@use "variables" as *;

// 詳細資料
// 檔案查詢結果的詳細資料
// ------------------------------------------------------ //
.arch-meta {
  position: relative;
  width: 96%;
  margin: 12px auto;

  img.prim {
    float: right;
    width: 40%;
    max-width: 360px;
    background: #fff;
    padding:0 0 8px 16px;
    margin: 16px 0 0;
  }

  .caption {
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
    padding: 12px 0 4px;
    border-bottom: 3px solid $borderColor;
  }

  dl{
    width: 100%;
    margin: 0 0 24px;
    line-height: 1.4;

    &>div{
      border-bottom: 1px dotted $borderColorLight;
      display: flex;
      &:last-child {
        border-bottom-width: 2px;
        border-bottom-style: solid;
      }
    }
    dt, dd{
      margin: 0; 
      padding: .8em 4px .7em;
    }
    dt{
      flex: 0 0 12em;
      font-weight: bold;
      padding-right: 1em;
      position: relative;
      &::after {
        content: '';
        position: absolute; top: 4px;
        bottom: 4px; right: 0;
        width: 3px;
        background-color: $gray;
      }
    }
    dd{
      flex: 1 1 auto;
      padding-left: .8em;
    }

  }

  .actions{ 
    --act-btn-height: 2.4em;
    clear: both;
  }


}
// ------------------------------------------------------ //



// 燈箱內詳細資料
// ------------------------------------------------------ //
.arch-details {
  padding: 0 0 40px;
  .secHead {
    display: block;
    background-color: $assistant1;
    color: $white;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1;
    padding: 18px 24px;
    min-height: 52px;
    letter-spacing: 4px;
  }
}
// ------------------------------------------------------ //
