@use "variables" as *;

// 詳細資料
// 檔案查詢結果的詳細資料
// ------------------------------------------------------ //
.arch-meta {
  position: relative;
  width: 94%;
  margin: 12px auto;

  img.prim {
    float: right;
    width: 40%;
    max-width: 360px;
    background: #fff;
    padding:0 0 8px 16px;
    margin: 16px 0 0;
  }

  .caption {
    font-size: 1.25em;
    font-weight: bold;
    text-align: left;
    padding: 12px 0 4px;
    border-bottom: 3px solid $borderColor;
  }

  dl{
    width: 100%;
    margin: 0 0 24px;
    line-height: 1.6;

    &>div{
      border-bottom: 1px dotted $borderColorLight;
      padding: 8px 0;
      &:last-child {
        border-bottom-width: 2px;
        border-bottom-style: solid;
      }
    }
    dt, dd{
      display: inline-block;
      margin: 0; 
      padding: .3em 4px .2em;
    }
    dt{
      font-weight: bold;
      &::after {
        content: '：';
      }
    }
    dd{
      word-break: break-all;
      a{
        &:focus {
          outline: 2px solid $linkColor;
        }
      }
    }

  }

  .actions{ 
    --act-btn-height: 2.4em;
    clear: both;
  }

  @media screen and (min-width: $wwMedium){
    dl {
      &>div {
        display: flex;
      }
  
      dt {
        flex: 0 0 12em;
        padding-right: 1em;
        position: relative;
  
        &::after {
          content: '';
          position: absolute;
          top: -4px;
          bottom: -4px;
          right: 0;
          width: 3px;
          background-color: $gray;
        }
      }
  
      dd {
        flex: 1 1 auto;
        padding-left: .8em;
      }
  
    }
  }

}
// ------------------------------------------------------ //



// 燈箱內詳細資料
// ------------------------------------------------------ //
.arch-details {
  padding: 0 0 40px;
  .secHead {
    display: block;
    background-color: $assistant1;
    color: $white;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1;
    padding: 18px 24px;
    min-height: 52px;
    letter-spacing: 4px;
  }
}
// ------------------------------------------------------ //
