@use "variables" as *;

// 詳細資料
// 檔案查詢結果的詳細資料
// ------------------------------------------------------ //
.arch-meta {
  position: relative;
  width: 96%;
  margin: 12px auto;

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    line-height: 1.4;

    caption {
      font-size: 1.125em;
      font-weight: bold;
      text-align: left;
      padding: 12px 0 4px;
      border-bottom: 3px solid $borderColor;
    }

    tr {
      border-bottom: 1px solid $borderColorLight;
    }

    th,
    td {
      padding: .8em 0.5em .7em;
    }

    th {
      text-align: right;
      width: 25%;
      padding-right: 1em;
      min-width: fit-content;
      white-space: nowrap;
    }

    td {}
  }

  img.prim {
    position: absolute;
    top: 50px; right: 0;
    width: 40%;
    max-width: 360px;
  }


}
// ------------------------------------------------------ //



// 燈箱內詳細資料
// ------------------------------------------------------ //
.arch-details {
  padding: 0 0 40px;
  .secHead {
    display: block;
    background-color: $assistant1;
    color: $white;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1;
    padding: 18px 24px;
    min-height: 52px;
  }
}
// ------------------------------------------------------ //
