@use "variables" as *;

// 查詢：在 header 的查詢
// ------------------------------------------------------ //
.search {

  --color1: #fff;
  --color2: #{$primaryColor};

  form {
    display: flex;
    padding: 28px 8px 8px;
    background-color: rgb(255 255 255/.8);
    border-radius: $radius2;

    input[type="text"] {
      flex: 1 1 auto;
    }

    button,
    input[type="button"],
    input[type="submit"] {
      flex: 0 0 auto;
    }

    input[type="text"],
    button,
    input[type="button"],
    input[type="submit"] {
      border: none;
      box-shadow: none;
      outline: none;
      height: 2.8em;
      border-radius: 2em;
    }

    // 查詢文字輸入
    input[type="text"] {
      background: $white;
      padding-left: 1em;
      padding-right: 1em;

      &:hover {
        box-shadow: var(--color2) 0 0 0 1px;
      }

      &:focus {
        box-shadow: var(--color2) 0 0 0 2px;
      }
    }

    //送出查詢按鈕
    button,
    input[type="button"],
    input[type="submit"] {
      @extend %searchIcon;
      --tinge: #fff;
      --bgc: #{$primaryColor};

      width: 2.8em;

      &:hover {
        box-shadow: transparent 0 0 0 1px inset, var(--color2) 0 0 0 2px;
      }

      &:focus {
        box-shadow: var(--color1) 0 0 0 1px inset, var(--color2) 0 0 0 3px;
      }
    }

    a.button {
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      height: 2.8em; line-height: 2.9;
      border-radius: 2em;
      background-color: $white;
      color: $fontColor;
      text-decoration: none;
      padding-left: 1em;
      padding-right: 1em;
      margin: 5px;
      box-shadow: $primaryColor 0 0 0 2px inset;
      transition: .2s;
      &:hover{
        box-shadow: $primaryColor 0 0 0 0 inset, $primaryColor 0 0 0 2px;
      }
      &:focus{
        background-color: $primaryColor;
        color: $white;
      }

    }

    
  }

  // 熱門查詢詞
  .hotKeywords {
    list-style: none;
    margin: 12px auto 0;
    padding: 0;
    font-size: 1.125em;
    line-height: 1.2;
    text-align: center;
    height: calc(1.2em + 20px);
    overflow: hidden;

    li {
      display: inline-block;
      margin: 4px 0 8px;

      a {
        position: relative;
        display: block;
        padding: 6px 12px 5px;
        text-decoration: none;
        border-radius: 1.2em;
        color: $black;
        text-shadow: #fff 0 0 4px, #fff 0 0 4px, #fff 0 0 5px, #fff 0 0 7px;
        transition: .2s;

        &:hover,
        &:focus {
          background-color: rgb(255 255 255/.85);
        }
        &:focus {
          box-shadow: $primaryColor 0 0 0 2px;
        }

      }
    }

  }

  // 整合查詢 | 資源介紹
  .tabItems {
    text-align: center;
    font-size: 1.25em;
    width: 72%;max-width: 28em;
    margin: 0 auto -1em;
    display: flex; justify-content: center;
    gap: 18px;

    button {
      flex: 0 0 calc(50% - 9px);
      border-radius: 1.5em;
      height: 2em;
      line-height: 2;
      margin: 0;
      background-color: $white;
      color: $fontColor;
      box-shadow:$white 0 0 0 0, $primaryColor 0 0 0 2px;

      &:hover{
        box-shadow:$white 0 0 0 2px, $primaryColor 0 0 0 4px;
      }
      &:focus{
        box-shadow:$white 0 0 0 1px, $primaryColor 0 0 0 4px;
        background-color: $primaryColor;
        color: $white;
      }

      &.now {
        background-color: $primaryColor;
        color: $white;
        &:hover, &:focus{
          box-shadow:$white 0 0 0 1px, $primaryColor 0 0 0 4px;
        }
      }
    }
  }

  @media screen and (min-width: $wwNormal) {

    input[type="text"],
    button,
    input[type="button"],
    input[type="submit"] {
      height: 2.4em;
      line-height: 2.4;
    }

    input[type="text"] {
      box-shadow: $borderColor 0 0 0 1px;
    }

    .hotKeywords {
      margin: 10px 6px 0;

      &::before {
        display: inline-block;
        content: attr(aria-label) '：';
      }
    }

    .tabItems {
      button{
        height: 2.3em;
        line-height: 2.3;
      }
    }

  }

  @media screen and (min-width: $wwMaximum) {
    right: $marginDocMax;
  }

}

// ------------------------------------------------------ //